nav(class='navbar navbar-default navbar-static-top')
  div(class='container')
    div(class='navbar-header')
      button(type='button', class='navbar-toggle collapsed', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
        span(class='sr-only') Toggle navigation
        span(class='icon-bar')
        span(class='icon-bar')
        span(class='icon-bar')
      a(class='navbar-brand', href='/')
        img(src='/images/logo.svg', height='40', class='logo')
        | SnapDrop
    div(id='navbar', class='navbar-collapse collapse')
      form(class='navbar-form navbar-left' role='search')
        div(class='input-group')
          input(type='text', class='form-control', placeholder='Search', id='mapSearch')
          // span(class='input-group-btn')
            button(class='btn btn-default', type='button') Go!

      div(class='navbar-right')
        button(type='button', class='btn btn-primary navbar-btn', data-toggle='modal', data-target='#newSnap')
          span(class='glyphicon glyphicon-plus', aria-hidden='true')