extends layout

block content
  div(class='jumbotron')
    div(class='container')
      h1 SnapDrop
      p a community and platform for photo enthusiasts to find cool locations for photo shoots
      a(class='btn btn-lg btn-primary') Sign In
      a(class='btn btn-lg btn-primary') Discover
  section
    div(class='container')
      div(class='row')
        div(class='col-md-6')
          h1 Discover
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam volutpat tristique lorem ut hendrerit. Aliquam erat volutpat. Quisque venenatis luctus mauris, ut laoreet arcu tempor quis. Ut vel sem nec nunc porta consequat eget sed orci.
        div(class='col-md-6')
          h1 Share
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam volutpat tristique lorem ut hendrerit. Aliquam erat volutpat. Quisque venenatis luctus mauris, ut laoreet arcu tempor quis. Ut vel sem nec nunc porta consequat eget sed orci.
